@import '~utils/tokens';

.life-section {
  &__outer {
    display: flex;
    width: 100%;
    height: 21.6875rem;
    justify-content: space-around;
    text-align: left;

    @include bpk-breakpoint-tablet {
      height: unset;
      margin-bottom: $spacing-lg;
      flex-direction: column;
      text-align: center;
    }
  }

  &__paragraph {
    font-size: $paragraph-font-size-larger;
  }

  &__content {
    width: 100%;
    max-width: 20rem;
    margin: 0 3rem;
    flex-grow: 1;

    @include bpk-breakpoint-tablet {
      max-width: unset;
      margin: 0 0 1rem 0;
    }
  }

  &__image-above-tablet {
    width: 100%;
    transition: margin 0.4s ease-in-out, transform 0.4s ease-in-out;

    @include bpk-breakpoint-tablet {
      display: none;
    }

    &--left {
      width: 35%;
    }

    &--right {
      width: 55%;
    }
  }

  &__mobile-image-container {
    display: none;
    width: 90%;
    margin-left: 5%;

    @include bpk-breakpoint-tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__mobile-image-wrapper {
    width: 48%;

    &--left {
      width: 30%;
      transition-delay: 0.4s;
    }

    &--right {
      width: 68%;
      transition-delay: 0.4s;
    }
  }

  &__image-below-tablet {
    width: 100%;

    &--animated {
      transition: margin 0.8s ease-in-out, opacity 0.8s ease-in-out;
    }

    &--right {
      transition-delay: 0.4s;
    }

    &--left-hide {
      margin-left: -20vw;
      opacity: 0;
      transition-delay: 0s;
    }

    &--right-hide {
      margin-left: 20vw;
      opacity: 0;
      transition-delay: 0s;
    }
  }
}
