@import '~utils/tokens';

.epicc {
  &__gallery {
    display: flex;
    margin-top: $spacing-lg;
    flex-direction: column;
    align-items: center;
  }

  &__screenshot {
    width: 100%;
    margin-top: $spacing-base;
    margin-bottom: $spacing-lg;
  }
}
