@import '~utils/tokens';

.blogs-list {
  &__card {
    display: inline-block;
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;

    &--with-controls {
      margin-bottom: 0.5rem;
    }
  }

  &__control {
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
}
