@import '~utils/tokens';

.photography {
  &__card-container {
    max-width: 90rem;

    @include card-container;
  }

  &__card {
    margin: 0 0.5rem $spacing-base 0.5rem;
  }

  &__subsection {
    @include centred;
  }

  &__image {
    width: 70%;
    margin-bottom: $spacing-lg;

    @include bpk-breakpoint-mobile {
      width: 90%;
    }
  }
}
