@import '~utils/tokens';

.photo-section {
  &__outer {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__content {
    width: 100%;
    max-width: 70%;

    @include bpk-breakpoint-tablet {
      max-width: 90%;
    }
  }
}
