@import "~bpk-mixins";

.footer {
  &__container {
    justify-content: space-around;
    height: 13rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    background-color: #1e1e1e;
    background-position: center;
    background-size: cover;
  }

  &__social {
    text-align: center;
  }

  &__logo {
    text-align: center;
  }

  &__tech {
    text-align: center;
  }

  &__site-map {
    text-align: center;
  }

  &__copyright {
    text-align: center;
  }

  &__centered {
    text-align: center;
  }
}
