@import '~utils/tokens';

.home {
  &__work-section {
    width: 100%;
    margin-top: $spacing-lg;

    @include bpk-breakpoint-tablet {
      margin-top: $spacing-base;
    }
  }

  &__life-section {
    width: 100%;
    margin-top: 4rem;

    @include bpk-breakpoint-tablet {
      margin-top: 2rem;
    }
  }

  &__photo-section {
    width: 100%;
    margin-top: 6rem;

    @include bpk-breakpoint-tablet {
      margin-top: 2rem;
    }
  }

  &__about-section {
    width: 100%;
    margin-top: 6rem;

    @include bpk-breakpoint-tablet {
      margin-top: 2rem;
    }
  }
}
