@import '~utils/tokens';

.about {
  &__unpadded {
    padding-bottom: 0;
  }

  &__centred {
    @include centred;
  }

  &__image {
    width: 70%;
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;

    @include bpk-breakpoint-mobile {
      width: 90%;
    }
  }
}
