@import '~utils/tokens';

.creative-commons {
  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: $spacing-lg;
    margin-left: 0;
    padding-top: $spacing-base;
    justify-content: center;
  }

  &__background {
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: $alternating-background-color-1;

    @media (prefers-color-scheme: dark) {
      background-color: $alternating-background-color-1-invert;
    }
  }

  &__inner {
    width: 100%;
    padding-right: 1.875rem;
    padding-bottom: 3rem;
    padding-left: 1.865rem;
    text-align: center;

    @include bpk-breakpoint-tablet {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
}
