@import '~bpk-mixins';
@import '../../bower_components/animatewithsass/animate.scss';

.button {
  &__outer {
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(62, 158, 235);
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1rem;

    &--dark-text {
      color: $bpk-color-gray-700;
    }

    &--bouncy {
      padding: 0.1rem 0.5rem;
      transition: all 0.2s;
      background-color: transparent;
      // @include bounceIn(
      //   $delay: .5s
      // );

      &:focus,
      &:active,
      &:hover {
        background-color: rgb(62, 158, 235);
        color: white;
        fill: white;

        @include pulse(
          $duration: 0.2s
        );
      }
    }

    &--no-bouncy {
      &:focus,
      &:active,
      &:hover {
        background-color: rgb(40, 102, 150);
      }
    }
  }
}
