@import '~bpk-mixins';

.default-layout {
  &__body {
    margin: 0;
  }

  &__site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &__main {
    min-height: calc(100vh - 19.63125rem); /* Internet explorer hack */
    flex: 1 1 auto;
  }
}
