@import '~bpk-mixins';

.default-layout {
  &__body {
    margin: 0;
  }

  &__site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &__main {
    flex: 1 1 auto;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      min-height: calc(100vh - 19.63125rem); /* Internet explorer hack */
    }
  }
}
