@import '~bpk-mixins';

.degree-module {
  display: flex;
  align-items: center;

  &--module-name {
    width: 9rem;
    margin-right: 1rem;
  }

  &--module-bar {
    position: relative;
    flex: 1;
  }

  &--first-marker {
    position: absolute;
    top: -.2rem;
    width: .36rem;
    height: .36rem;
    margin-left: calc(70% - .175rem);
    border-radius: .2rem;
    background-color: #1e1e1e;
    opacity: .5;
  }

  &--21-marker {
    position: absolute;
    top: -.2rem;
    width: .36rem;
    height: .36rem;
    border-radius: .2rem;
    background-color: #1e1e1e;
    opacity: .15;
  }

  &--percentage {
    width: 2.1rem;
    margin-left: .6rem;
    transition: all .4s;
    color: #44aeff;
    font-weight: bold;
  }
}
