@import '~bpk-mixins';

.footer {
  &__container {
    display: grid;
    height: auto;
    padding: 2rem 4rem;
    grid-template-areas:
      'a'
      'b'
      'c'
      'd';
    grid-gap: 1rem;
    align-items: center;
    background-color: rgb(60, 68, 81);
    background-position: center;
    background-size: cover;
  }

  &__social {
    grid-area: 'a';
    text-align: center;
  }

  &__logo {
    grid-area: 'b';
    text-align: center;
  }

  &__tech {
    grid-area: 'c';
    text-align: center;
  }

  &__copyright {
    grid-area: 'd';
    text-align: center;
  }

  &__centered {
    text-align: center;
  }
}
