@import '~bpk-mixins';

.footer {
  &__container {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include bpk-breakpoint-tablet {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--outer {
      padding: 2rem;
      background-color: rgb(60, 68, 81);
      background-position: center;
      background-size: cover;
    }

    &--horizontal {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @include bpk-breakpoint-tablet {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  &__component {
    width: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
