@import '~bpk-mixins';

@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland');
}

.redirect-notice {
  &__text {
    margin: 2rem;
    font-family: 'Iceland', cursive;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
  }
}
