@import '~bpk-mixins';

.showcase {
      &__container {
    border-top: 0.5rem;
    border-right: 0;
    border-bottom: 0.5rem;
    border-left: 0;
    border-style: solid;
    border-color: lightgray;
  }
}
