@import '~bpk-mixins';
@import '../../bower_components/animatewithsass/animate.scss';

.tag-filter {
  &__outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__tag {
    // position: relative;
    display: inline-block;
    margin: 0 .7rem .5rem 0;

    &--deselected {
      filter: saturate(.1);
    }
  }
}
