@import '~bpk-mixins';

.apps {
   &__page {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

   &__showcase {
    width: 100vw;
    margin-right: -100%;
    margin-left: -100%;
    padding: 2rem 0;
    background: red;
    box-shadow: inset 0 0 10rem 0.5rem darkred;
  }

   &__feature-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

   &__feature-section {
    min-width: 25rem;
    max-width: 45%;
    text-align: left;

    @include bpk-breakpoint-tablet {
      min-width: auto;
      max-width: none;
    }
  }

   &__download-container {
    display: flex;
    width: 100vw;
    margin-right: -100%;
    margin-bottom: 2rem;
    margin-left: -100%;
    padding: 2rem 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(52, 59, 73);
  }

   &__image {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
