@import '~bpk-mixins';

.default-layout {
     &__body {
    margin: 0;
  }

     &__site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

     &__main {
    flex: 1;
  }
}
