@import '~bpk-mixins';
@import '../../bower_components/animatewithsass/animate.scss';

@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline');
}

@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton');
}

@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland');
}

.logo {
   &__container {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    transition: all 0.2s;

    @include bpk-breakpoint-tablet {
      padding-right: 2rem;
      padding-left: 2rem;
      align-items: center;
    }
    // @include bounceIn(
    //   $delay: .5s
    // );
     &--animated {
      &:focus,
      &:active,
      &:hover {
        @include pulse(
          $duration: 0.2s
        );
      }
    }

     &--centered {
      align-items: center;
    }

     &--no-padding {
      padding: 0;
    }
  }

   &__logo-base {
    display: inline-block;
    color: rgb(60, 68, 81);
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.6rem;

     &--light {
      color: $bpk-color-gray-100;
    }

     &--no-padding {
      line-height: normal;
    }
  }

   &__logo-large {
    display: inline-block;
    color: rgb(62, 158, 235);
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 6rem;

     &--smaller {
      font-size: 3.5rem;
    }

     &--no-padding {
      line-height: normal;
    }
  }
}
