@import '~bpk-mixins';

.scroll-indicator {
  &__outer {
    position: fixed;
    z-index: 100000;
    width: 100vw;
    height: 0.5rem;
    transition: all 1s;
    background-color: white;

    &--hidden {
      opacity: 0;
    }
  }

  &__bar {
    height: 100%;
    transition: all 1s;
    background-color: #44aeff;
  }
}
