@import '~bpk-mixins';

@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline');
}

@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton');
}

@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

@fontface {
  font-family: 'Tangerine', cursive;
  src: url('https://fonts.googleapis.com/css?family=Tangerine');
}

@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland');
}

.typography {
  &__main {
    width: 100%;
    padding-bottom: 1rem;
    color: rgb(60, 68, 81);
    // font-family: 'Neuton', serif;
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;
  }

  &__icon {
    max-width: 1rem;
    margin-left: .25rem;
  }

  &__anchor-link {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.75rem;

    @include bpk-breakpoint-tablet {
      position: initial;
      margin-left: 0;
    }
  }

  &__text {
    color: rgb(60, 68, 81);
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;

    &--with-anchor-link {
      @include bpk-breakpoint-tablet {
        position: initial;
        margin-top: -1.6rem;
        margin-left: 1.75rem;
      }
    }

    &--subsection {
      padding-bottom: .5rem;
      text-decoration: none;
    }

    &--section {
      padding-bottom: .4rem;
      font-size: 2.2rem;
      line-height: 2.2rem;
      text-decoration: none;
    }
  }

  &--fancy {
    font-family: 'Tangerine', cursive;
  }

  &--no-padding {
    padding: 0;
  }

  &--inline {
    width: auto;
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;

    &--text-link {
      color: darkorchid;
      font-weight: normal;
      fill: darkorchid;
    }

    &:hover {
      color: rgb(62, 158, 235);
      text-decoration: none;
      fill: rgb(62, 158, 235);
    }
  }

  &--light {
    color: white;

    &--text-link {
      font-style: italic;
      font-weight: bold;
    }
  }
}
