@import '~bpk-mixins';

@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline');
}

@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton');
}

@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

@fontface {
  font-family: 'Tangerine', cursive;
  src: url('https://fonts.googleapis.com/css?family=Tangerine');
}

@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland');
}

.typography {
  &__main {
    width: 100%;
    padding-bottom: 1rem;
    color: rgb(60, 68, 81);
    // font-family: 'Neuton', serif;
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;
  }

  &__text {
    color: rgb(60, 68, 81);
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;

    &--subsection {
      padding-bottom: 0.5rem;
      text-decoration: none;
    }

    &--section {
      padding-bottom: 0.4rem;
      font-size: 2.2rem;
      line-height: 2.2rem;
      text-decoration: none;
    }
  }

  &--fancy {
    font-family: 'Tangerine', cursive;
  }

  &--no-padding {
    padding: 0;
  }

  &--inline {
    width: auto;
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;

    &--text-link {
      color: darkorchid;
      font-weight: normal;
    }

    &:hover {
      color: rgb(62, 158, 235);
      text-decoration: none;
    }
  }

  &--light {
    color: white;

    &--text-link {
      font-style: italic;
      font-weight: bold;
    }
  }
}
