@import '~bpk-mixins';
@import 'helpers/tokens';

.app-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;

  color: $not-black;
  background-color: white;

  @media (prefers-color-scheme: dark) {
    color: $not-black-invert;
    background-color: $not-black;
  }

  &--inner {
    flex: 1;
  }
}
