@import '~utils/tokens';

.blog-renderer {
  &__body-skeleton {
    height: 50rem;
  }

  &__date {
    margin-top: 0.86rem;
    margin-bottom: $spacing-base;
  }

  &__tag-list {
    margin-bottom: 1.5rem;
  }

  &__tag {
    margin: 0 0.5rem 0.5rem 0;
  }
}
