@import '~bpk-mixins';

.blog-editor {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;

  &__component {
    min-width: 20rem;
    padding: 1rem;
    flex: 1;

    &__editor-element {
      max-width: 93%;
      margin-bottom: 1rem;
      background-color: rgba(255, 255, 255, .7);
    }

    &__preview-element {
      margin-bottom: 1rem;
      background-color: transparent;
      color: white;
    }
  }
}
